<div class="container-fluid bg ">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form class="form-container">
                <h2>coustomer login</h2>
                <div class="form-group">
                    <label for="username">username</label>
                    <input type="text" class="form-control" id="username" placeholder="username">

                </div>
                <div class="form-group">
                    <label for="inputpassword">password</label>
                    <input type="password" class="form-control" id="inputpassword" placeholder="password">
                
                </div>
                
                 <button type="submit" class="btn btn-primary"> login</button>
                
                 <div class="bottom">
                     <p>Forgot password? <a href="">click here</a></p>
                 </div>
            </form>

        </div>

    </div>
</div>
